{% load static %}

<div class="container header__block">
				<div class="row">
					<div class="col-6 header__col">

						<span class="header__name">FEATURED POST</span>
						<h1 class="header__title">National Geographic Pristine Seas recommends the designation of two new marine protected areas in Uruguay</h1>
						<ul>
							<li class="header__item"><data class="header__data">September 22, 2022</data></li>
							<li class="header__item">·</li>
							<li class="header__item"><a class="header__link" href="#">Aaron Smith</a></li>
						</ul>

						<a class="header__btn" href="#">Read more</a>

					</div>
				</div>
			</div>